<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized ongr-bar-energized ongr-mainheader" align-title="center"></ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="ongr-sidemenu-left" width="{{0.8 * devWidth}}">
    <ion-header-bar class="bar-stable">
      <div class="wrap-loginer-image"><p><img src="img/nologin-profile.png" /></p><h5>옹알옹알 다이어리</h5></div>
    </ion-header-bar>
    <ion-content>
      <ion-list class="ongr-button-login">
        <ion-item menu-toggle="left" href="#/app/login" ng-show="!isLogin">로그인</ion-item>
        <ion-item menu-toggle="left" href="#/app/login" ng-show="isLogin">로그아웃</ion-item>
      </ion-list>
      <ion-list>
        <ion-item menu-toggle="left" href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-toggle="left" href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-toggle="left" href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
