
    <ion-tabs class="tabs-top tabs-icon-top tabs-striped tabs-background-stable ongr-tabmenu-top">

      <ion-tab title="내 다이어리" icon-on="ion-android-calendar" icon-off="ion-android-calendar" href="#/app/tabs/mydiary">
        <ion-nav-view name="mydiary"></ion-nav-view>
      </ion-tab>

      <ion-tab title="이웃 다이어리" icon-on="ion-android-contacts" icon-off="ion-android-contacts" href="#/app/tabs/neighbordiary">
        <ion-nav-view name="neighbordiary"></ion-nav-view>
      </ion-tab>

      <ion-tab title="핫딜! 정보" icon-on="ion-card" icon-off="ion-card" href="#/app/tabs/hotdeal">
        <ion-nav-view name="hotdeal"></ion-nav-view>
      </ion-tab>

      <ion-tab title="육아 커뮤니티" icon-on="ion-chatboxes" icon-off="ion-chatboxes" href="#/app/tabs/community">
        <ion-nav-view name="community"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
